.box {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  background-image: linear-gradient(136.88deg, #3100bc 14.75%, #b08bdf 75.25%);
  border-image-slice: 1;
  background-origin: border-box;
}

.foloowbox {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  overflow: hidden;
  border-image-slice: 1;
  background-origin: border-box;
}
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.levelborder {
  border-radius: 4px;
  margin-right: 2px;
}

.BRONZE {
  color: #ffccaf;
  background-color: #d87741;
}

#file {
  display: none;
}

#fileuploadtext {
  color: #17b7bd;
  cursor: pointer;
  font-family: "GmarketSans";
  font-size: 0.9rem;
  transition: all 0.3s ease 0s;
}

#fileuploadtext:hover {
  color: #0c6d71;
}

#editTable {
  margin-top: 24px;
  font-family: "GmarketSans";
  display: flex;
  border-bottom: 1px solid #8d8d8d;
  color: #303030;
  flex-direction: column;
  margin-bottom: 24px;
}

#editTableRow {
  display: flex;
  border-top: 1px solid #8d8d8d;
}

.border {
  border-bottom: 1px solid #8d8d8d;
}

.center {
  display: flex;
  align-items: center;
  width: 10%;
  font-size: 0.9rem;
}

.padding {
  padding: 10px;
}

.input {
  font-family: "GmarketSans";
  border: none;
  background-color: #f2f1f8;
  outline: none;
  font-size: 0.9rem;
}

.title {
  font-size: 1.5rem;
  color: #303030;
}

.sub {
  color: #676767;
  font-size: 0.9rem;
}

.boundary {
  border-left: medium solid #323232;
}

.postButton {
  border-top: 1px solid #323232;
  width: 100%;
  border-bottom: 1px solid #323232;
}

.postButton td {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.postButton td:hover {
  color: #a055ff;
}

.profileBox {
  margin: 5px;
  text-align: center;
  font-family: "GmarketSans";
}
