input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#earnedPoint:hover {
  cursor: pointer;
  background-color: transparent;
}

#earnedPoint:active {
  background-color: rgba(0, 0, 0, 0.1);
}

#editChip > span {
  padding: 0 !important;
}
