.storeList {
  margin: 20px 0;
  padding: 0 59.5px;
}

.benefit {
  text-align: end;
}

.gridList {
  font-size: 18px;
}

/* 가게 식품 리스트 */
.css-19midj6 {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .storeList {
    padding: 0 5px;
    width: auto;
  }

  .gridList {
    font-size: 14px;
  }
}
