div.MuiDrawer-paperAnchorLeft {
  width: 250px;
}

/* @media screen and (min-width: 600px) {
  div.MuiDrawer-paperAnchorLeft {
    margin: 0 calc(50vw - 303px);
  }
} */

.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.drawerFooter {
  margin-top: auto;
}
