div.MuiDrawer-paperAnchorLeft {
  width: 250px;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 10px;
}

div.css-cveggr-MuiListItemIcon-root {
  min-width: 35px;
  flex-shrink: 0;
  display: inline-flex;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
}

/* .link:hover {
  background-color: #17b7bd;
} */
